<div class="content">

    <div class="courses">
        <h2>Courses</h2>
       
        <mat-card class="course-card" *ngFor="let item of items">
          <mat-card-header>
                  <h4>{{item.name}}</h4>
                </mat-card-header>
                <mat-card-actions align="end">
                    <button mat-button [routerLink]="['/admin-dashboard', item.id]">edit</button>
                </mat-card-actions>
            </mat-card>
            <button mat-button >Add new...</button>
    </div>
</div>