.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #fff;
  height: 200px;
}

@media only screen and (max-width: 599px) {
  .footer-container {
    margin:0 auto;
  }
}
