button {
    color: #021E4C;
    font-size: 16px;
    font-weight: 300;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
    width: 220px;
    height: 320px;
    border-radius: 0;
    margin-bottom: 20px;
    p {
        position: relative;
        top: -130px;
        right: -40px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 0;
        margin: 0;
        display: inline-block;
        line-height: 1.5em;
        background-color: #DB6B10;
        border-radius: 3px;
        padding: 2px 3px;
    }

    #main-text {
        position: relative;
        left: -90px;
        font-size: 14px;
        font-weight: 500;
    }
    @media screen and (max-width: 800px) {
        margin-right: 20px;
    }
}