<div class="main-container">
    <button mat-button>
        <span [ngStyle]="{'background-color': getStatusColor() }" id="box">
            <p [ngStyle]="{'background-color': getBackgroundColor() }">{{ item.status }}</p>
        </span> 
        
        {{ item.name }}
        
    </button>
</div>

<!--
    <div class="course">
    <div class="course-detail">
        <button [ngStyle]="{'background-color': getStatusColor() }" class="status" mat-button routerLink="" [routerLinkActive]="['is-active']">
            <p [ngStyle]="{'background-color': getBackgroundColor() }">{{ item.status }}</p>
            
        </button>
        <div class="text">
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }} | 09h 40m</p>
        </div>
    </div>
</div>
-->