.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    display: inline-block;
    width: 25%;
    text-align: center;
  }
  .card-list {
    button {
      color: #021E4C;
      font-size: 16px;
      font-weight: 300;
      background: linear-gradient(0deg, #fff 60%, #36C3B4 40%);
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.15);
      width: 220px;
      height: 320px;
      border-radius: 0;
      p {
        position: relative;
        top: -130px;
        right: -40px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        padding: 0;
        margin: 0;
        display: inline-block;
        line-height: 1.5em;
        background-color: #DB6B10;
        border-radius: 3px;
        padding: 2px 3px;
      }
    }
  }
}

h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    a {
      margin: 1px 0;
      font-size: 14px;
      color:#727272;
    }
    a:hover {
      color: #4C26AF;
      text-decoration: underline;
    }
  }
}

a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}

.virtical-container {
  margin: 0 20px 0;
  width: 4px;
  height: 300px;
  background-color: #4C26AF;
}

button {
  margin-top: 20px;
  color: #727272;
}

button:hover {
  color: #4C26AF;
}

@media only screen and (max-width: 599px) {
  .virtical-container {
    margin: 0;
    padding: 0;
  }
}

