<div class="main-container"> 
  <h1>
    All courses
  </h1>
  <div class="course-list">
    <app-course *ngFor="let item of items" [item]="item"></app-course>
  </div>
</div>


<!--
  <div fxFlex class="container">
  <div class="virtical-container"></div>
  <div fxFlex class="menu">
    <h4><b>Course Overview</b></h4>
    <p appHighlight>Highlight me!</p>
    <ul>
      <li><a href="#">Introduction and overview</a></li>
      <li><a href="#">Flutter Basics</a></li>
      <li><a href="#">Angular 9 Fundamentals</a></li>
      <li><a href="#">Introduction to AWS</a></li>
      <li><a href="#">REST APIs using Spring Boot 2.6</a></li>
      <li><a href="#">Introduction to Docker</a></li>
      <li><a href="#">Introduction to Java 14</a></li>
      <li><a href="#">Introduction to SQL with PostgreSQL 12</a></li>
    </ul>
      <button mat-stroked-button class="button">Register</button>
  </div>
</div>
-->
