<div class="main-container">
    <div class="to-learn">
        <h1>Cloud computing</h1>
        <h2>Learn the latest technologies in cloud computing</h2>
        <p>
          Our curriculum and unique delivery model demonstrates differentiated value and sets us apart from our competitors. There is significant focus on cloud-native software development principles leveraging the Amazon Web Services public cloud platform.
        </p>
        <button mat-button>Browse curriculum<i class="arrow"></i></button>
      </div>
    
</div>