<div class="main-container">
    <button mat-button [routerLink]="['/my-course-detail', item.id]" [routerLinkActive]="['is-active']">
        <span id="limit-size">
            <span [ngStyle]="{'background-color': getBackgroundColor() }" id="box">
                <span [ngStyle]="{'background-color': getStatusColor() }" id="status-text"> {{ item.status }}</span>
            </span>
            <span id="main-text">{{ item.name }}</span>
            <!-- <p>{{ item.description }} | 09h 40m</p> -->
        </span>
    </button>
</div>