<div class="main-container">
    <div class="header-main">
        <div class="header">
            <div class="profile">
                <img src="../../../assets/istockphoto-1302444823-170667a.jpg" alt="Avatar">
                <h1>
                    Learner dashboard
                </h1>
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="content-area">
            <div class="left-main">
                <div class="course-content">
                    <h1>
                        My courses
                    </h1>
                    <div class="course-list">
    
                    </div>
                </div>
            </div>
            <div class="right-main">
    
            </div>
        </div>
    </div>
</div>