<div class="form-container">
  <mat-spinner diameter="70" *ngIf=loading></mat-spinner>
  
  <div class="signup-form">
    <form [formGroup]="loginForm" autocomplete="off"  (ngSubmit)="login(loginForm.value)">
      <h2>Login</h2>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>email_outline</mat-icon>
        <input matInput placeholder="Email" formControlName="name" type="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput placeholder="Password" formControlName="password" type="password">
      </mat-form-field>
      <mat-card-actions>
        <button mat-stroked-button [disabled]="!loginForm.valid">Start coding now</button>
      </mat-card-actions>
    </form>
  </div>
  <div class="text">
    By login in, you agree to Learncoding RSA's <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>.
  </div>
  <div class="login-error" *ngIf="error">{{ error.error.message }}</div>
</div>