<div class="main-container">
  <div class="header">
    <h2>OUR PROMISE</h2>
    <h1>WHAT WE STAND FOR</h1>
    <button mat-button>Learn More<i class="arrow"></i></button>
  </div>
  <div class="full-content">
    <!--<img  src="assets/istockphoto-1302444823-170667a.jpg">-->
    <div class="web-design-text">
      <h2>
        WEB DEVELOPMENT
      </h2>
      <p>
        Learn to develop responsive web applications using HTML, CSS and JavaScript. We use the Angular framework
        <i class="arrow"></i>
      </p>
    </div>
    <div class="web-design-text">
      <h2>
        CLOUD COMPUTING
      </h2>
      <p>
        Learn to develop responsive web applications using HTML, CSS and JavaScript. We use the Angular framework
        <i class="arrow"></i>
      </p>
    </div>
    <div class="web-design-text">
      <h2>
        SOFTWARE ENGINEERING
      </h2>
      <p>
        Learn to develop responsive web applications using HTML, CSS and JavaScript. We use the Angular framework
        <i class="arrow"></i>
      </p>
    </div>
  </div>
</div>