<mat-toolbar color="primary" class="mat-elevation-z1">
  <mat-toolbar-row>
    <button mat-icon-button id="menu" (click)="toggle()" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>

    <div fxFlex fxLayout fxLayoutAlign="flex-end">
      <ul fxLayout fxLayoutGap="20px" class="navigation-items">

        <li fxHide.xs>
          <button mat-icon-button>
            <mat-icon> settings </mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
