<div class="main-container">
    <div class="card-1">
        <div class="text-background">
            <h1>AFCON</h1>
            <p>
                Total Africa Cup of Nations
            </p>
        </div>
    </div>
    <div class="card-2">
        <div class="text-background">
            <h1>AFCON</h1>
            <p>
                Total Africa Cup of Nations
            </p>
        </div>
    </div>
    <div class="card-3">
        <div class="text-background">
            <h1>AFCON</h1>
            <p>
                Total Africa Cup of Nations
            </p>
        </div>
    </div>
    
</div>

<!--
    Study the latest technologies in machine learning and artificial intelligence, web development and cloud computing
-->