<div class="main-container">
    <div class="card-1">
        <div class="text-background">
            <h1>CLOUD COMPUTING</h1>
        </div>
    </div>
    <div class="card-2">
        <div class="text-background">
            <h1>WEB DEVELOPMENT</h1>
        </div>
    </div>
    <div class="card-3">
        <div class="text-background">
            <h1>MOBILE APP DEVELOPMENT</h1>
        </div>
    </div>
    
</div>

<!--
    Study the latest technologies in machine learning and artificial intelligence, web development and cloud computing
-->