$primary: (
  Main:#1E1E1E,
  Light:#454545,
  Dark: #000000,
  contrast: (
    Main: #f5f5f5,
    Light: #000,
    Dark: #fff
));

$accent: (
  Main:#1E1E1E,
  Light:#454545,
  Dark: #000000,
  contrast: (
    Main: #f5f5f5,
    Light: #000,
    Dark: #fff
));
