<div class="main-container">
  <mat-card class="cards-row">
    <div class="card-container">
      <img mat-card-image src="assets/hector-martinez-EG49vTtKdvI-unsplash.jpg" height="200px">
      <mat-card-content>
        <p>
          Learn to develop mobile apps using Flutter - The latest framework for mobile app development backed by
          Google. Target both iOS and Android from a single code base.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button>Find Out More</button>
      </mat-card-actions>
    </div>
    <div class="card-container">
      <img mat-card-image src="assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" height="200px">
      <mat-card-content>
          <p>
            Develop Supporting backend REST Application Programming Interfaces using Java 8 and Springboot as well as
            Python and the Django REST Framework
          </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button>Find Out More</button>
      </mat-card-actions>
    </div>
    <div class="card-container">
      <img mat-card-image src="assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" height="200px">
      <mat-card-content>
          <p>
            Learn to use technologies such as Amazon Lex, a service for building conversational interfaces into
            any application using voice and text.
          </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button>Find Out More</button>
      </mat-card-actions>
    </div>
  </mat-card>

</div>
