.main-container {
  display: flex;
  overflow-x: auto;
}

mat-card {
  margin-top: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: space-around;
  border: #D5D7C3 1px solid;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-header-title {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #1E1E1E;

}

.expansion-panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.card-container {
  width:300px;
}

.card-container img {
  margin: 20px;
  width: 90%;
  height: 35%;
  border-radius: 3px;
}

mat-card-content {
  margin-left: 20px;
  font-size: medium;
}

mat-card-actions {
  margin-left: 20px;
}

button:hover {
  background-color: #7E00E4;
  color: #fff;
}
