<div class="main-container">
  <div class="banner">

  </div>
  <hr >
  <mat-accordion class="acc">
    <mat-expansion-panel  [expanded]="true"  class="mat-elevation-z0" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

       <mat-panel-title>
         Python
       </mat-panel-title>

     </mat-expansion-panel-header>

     <div class="categories">

      <mat-card class="cards-row">
        <div class="card-container">
          <img mat-card-image src="assets/hector-martinez-EG49vTtKdvI-unsplash.jpg">
          <mat-card-content>
            <p>
              Learn to develop mobile apps using Flutter
              <br />
              <br />
              <br />
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Develop Supporting backend REST APIs using Java 8 and Springboot and Python
                <br />
                <br />
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Learn to use technologies such as Amazon Lex, a service for building conversational interfaces into
                any application using voice and text.
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>


      </mat-card>
    </div>
   </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="acc">
    <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

       <mat-panel-title>
        Software Engineering
       </mat-panel-title>

     </mat-expansion-panel-header>

     <div class="categories">

      <mat-card class="cards-row">
        <div class="card-container">
          <img mat-card-image src="assets/hector-martinez-EG49vTtKdvI-unsplash.jpg">
          <mat-card-content>
            <p>
              Learn to develop mobile apps using Flutter
              <br />
              <br />
              <br />
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Develop Supporting backend REST APIs using Java 8 and Springboot and Python
                <br />
                <br />
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Learn to use technologies such as Amazon Lex, a service for building conversational interfaces into
                any application using voice and text.
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>


      </mat-card>
    </div>
   </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="acc">
    <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

       <mat-panel-title>
        Web Development
       </mat-panel-title>

     </mat-expansion-panel-header>

     <div class="categories">

      <mat-card class="cards-row">
        <div class="card-container">
          <img mat-card-image src="assets/hector-martinez-EG49vTtKdvI-unsplash.jpg">
          <mat-card-content>
            <p>
              Learn to develop mobile apps using Flutter
              <br />
              <br />
              <br />
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Develop Supporting backend REST APIs using Java 8 and Springboot and Python
                <br />
                <br />
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Learn to use technologies such as Amazon Lex, a service for building conversational interfaces into
                any application using voice and text.
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>


      </mat-card>
    </div>
   </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="acc">
    <mat-expansion-panel class="mat-elevation-z0" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

       <mat-panel-title>
        Cloud Computing
       </mat-panel-title>

     </mat-expansion-panel-header>

     <div class="categories">

      <mat-card class="cards-row">
        <div class="card-container">
          <img mat-card-image src="assets/hector-martinez-EG49vTtKdvI-unsplash.jpg">
          <mat-card-content>
            <p>
              Learn to develop mobile apps using Flutter
              <br />
              <br />
              <br />
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Develop Supporting backend REST APIs using Java 8 and Springboot and Python
                <br />
                <br />
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Learn to use technologies such as Amazon Lex, a service for building conversational interfaces into
                any application using voice and text.
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>


      </mat-card>
    </div>
   </mat-expansion-panel>
  </mat-accordion>

</div>
