<div class="main-container">
  <div @fadeIn class="banner">
    <div class="text-background">
      <h2>Start learning</h2>
      <p>Learn the latest skills to help you effectively compete in the fourth industrial revolution (4IR).</p>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Search">
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div @slide class="level-2">
    <h2>Start learning</h2>
    <p>Learn the latest skills to help you effectively compete in the fourth industrial revolution (4IR).</p>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Search">
      <button mat-button matPrefix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class=level-3>
    <h2>
      Steer your career on the path to success
    </h2>
    <p>
      Study the latest technologies in machine learning and artificial intelligence, web development and cloud computing
    </p>
  </div>

  <mat-accordion class="acc">
    <mat-expansion-panel  [expanded]="true"  class="mat-elevation-z0" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">

     <mat-expansion-panel-header>

       <mat-panel-title>
         Python
       </mat-panel-title>

     </mat-expansion-panel-header>

     <div class="categories">

      <mat-card class="cards-row">
        <div class="card-container">
          <img mat-card-image src="assets/hector-martinez-EG49vTtKdvI-unsplash.jpg">
          <mat-card-content>
            <p>
              Learn to develop mobile apps using Flutter
              <br />
              <br />
              <br />
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/element5-digital-OyCl7Y4y0Bk-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Develop Supporting backend REST APIs using Java 8 and Springboot and Python
                <br />
                <br />
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>
        <div class="card-container">
          <img mat-card-image src="assets/tim-mossholder-WE_Kv_ZB1l0-unsplash.jpg" height="200px">
          <mat-card-content>
              <p>
                Learn to use technologies such as Amazon Lex, a service for building conversational interfaces into
                any application using voice and text.
              </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button>Find Out More</button>
          </mat-card-actions>
        </div>


      </mat-card>
    </div>
   </mat-expansion-panel>
  </mat-accordion>


  <div @fadeIn class="to-learn">
    <h2>What you will learn</h2>
    <p>
      Our curriculum and unique delivery model demonstrates differentiated value and sets us apart from our competitors. There is significant focus on cloud-native software development principles leveraging the Amazon Web Services public cloud platform.
    </p>
    <button mat-button>BROWSE CURRICULUM</button>
  </div>

  <div class="web-design">
    <img  src="assets/istockphoto-1302444823-170667a.jpg">
    <div class="web-design-text">
      <h2>
        Web Development
      </h2>
      <p>
        Learn to develop responsive web applications using HTML, CSS and JavaScript. We use the Angular framework
      </p>
      <button mat-button>LEARN MORE</button>
    </div>
  </div>

  
</div>


