.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  background-image: url('../../../assets/vladimir-yelizarov-BFxHJAGwteQ-unsplash.jpg');
  background-size:cover;
  background-position: 50% 15%;
  height: 200px;
  width: 90%;
  background-repeat: no-repeat;

}

h2 {
  position: relative;
  left: 20px;
}

hr {
  margin:  40px 0px;
  color: #7E00E4;
  width: 90%;
}

.acc {
  width: 90%;

}

.categories {
  display: flex;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .banner {
    width: 100%;
    height: 180px;
  }
}

mat-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border: #C8C8C8 1px solid;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-header-title {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #1E1E1E;

}

.expansion-panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.card-container {
  width:300px;
}

.card-container img {
  margin: 20px;
  width: 90%;
  height: 35%;
  border-radius: 3px;
}

mat-card-content {
  margin-left: 20px;
  font-size: medium;
}

mat-card-actions {
  margin-left: 20px;
}

button:hover {
  background-color: #7E00E4;
  color: #fff;
}
