<div class="main-container">
    <div class="header-main">
        <div class="header">
            <i class="arrow"></i>
            <div class="profile">
                <img src="../../../assets/istockphoto-1302444823-170667a.jpg" alt="Avatar">
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="left">

        </div>
        <div class="right">
            <div class="content-area">
                <h1>Course Curriculum</h1>
                <div class="header-box">
                    
                </div>
                <app-chapter></app-chapter>
            </div>
        </div>
    </div>
</div>